body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(23, 21, 21);
}
h1{
    margin-top: 50px;
    color: #a83caf;
}
hr{
    width: 500px;
    height: 2px;
    background-color: rgb(134, 144, 31);
}

/* for board structure */
#board{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* X and O components */
.tile {
    width: 147px;
    height: 147px;

    /* Text */
    color: antiquewhite;
    font-size: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.winner {
    background-color: rgb(255, 255, 255);
    color: rgb(6, 156, 21);
}


.horizontal-line {
    border-bottom: 3px solid rgb(134, 144, 31);
}
.vertical-line{
    border-right: 3px solid rgb(134, 144, 31);
}
#Restart{
    text-align: center;
    color: aliceblue;
    padding: 10px 20px;
    background-color: rgb(93, 90, 90);
}
#Restart:hover{
    background-color: chartreuse;
    color: black;
    cursor: pointer;
}
.alert > #Win{
    color:  black;
}

#winn{
    width: 200px;
    margin: 0 auto;
}